body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
    font-size: 16px;
}

.hidden {
    display: none;
}

#cart-container {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    overflow-y: auto; /* Enable vertical scrolling if the content overflows */
}

#cart-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-items {
    padding: 10px;
    list-style: none;
    margin: 0;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item span {
    flex-grow: 1;
    margin-right: 10px;
}

.remove-from-cart-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.remove-from-cart-btn:hover {
    background-color: #c0392b;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.floating-btn i {
    font-size: 2rem;
}
.floating-btn:hover {
    width: 65px;
    height: 65px;
    background-color: rgb(39, 38, 38);
}

#item-container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    display: none;
}

.item {
    border: 1px solid #ccc;
    padding: 15px;
}

.item-info {
    margin-bottom: 10px;
}

.add-to-cart-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #17fc49;
}

.popup {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 16px;
    border-radius: 5px;
    z-index: 1;
}

#password-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 9, 9, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#password-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#password-form label {
    display: block;
    margin-bottom: 10px;
}

#password-form input {
    height: 2rem;
    width: 50%;
    border: 1px solid red;
    border-radius: 2rem;
    padding: 0.05rem 1rem;
    font-size: 1.5rem;
}
#password-form button {
    height: 2.5rem;
    width: 25%;
    color: white;
    background-color: red;
    border: none;
    border-radius: 2rem;
}
